{% extends 'master.html' %}

{% block master %}
    
<div class="position-absolute top-50 start-50 translate-middle w-50 p-3 h-75 d-inline-block" >


    <p class="h1">Cadastar Novo Usuário</p>
    
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name">
            
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf">
            
        </div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            
            <div id="emailHelp" class="form-text">Certifique-se de colocar um e-mail válido</div>
        </div>
        
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>

                
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>


{% endblock %}