{% extends 'master.html' %}

{% block master %}
    
<div class="position-absolute top-50 start-50 translate-middle w-50 p-3 h-75 d-inline-block" >


    <p class="h1">Cadastar Novo Usuário</p>
    
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
            <div id="emailHelp" class="form-text">Certifique-se de colocar um e-mail válido</div>
        </div>
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>


{% endblock %}