#idTitle{
    text-align: center;
}

.divButtonClass{
    display: flex;
    flex-direction: row;
    gap: 30%;
    width: 30px;
    align-items: center;
}


.btn_del_pacient{
    font-size: 200%;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.btn_edit_pacient{
    font-size: 200%;
    cursor: pointer;
    color: rgb(115, 253, 91);
}


.div_btn_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn_close_modal{
    background-color: red;
    border-color: red;
    &:hover{
        background-color: rgb(184, 0, 0);
    }
}
