#idTitle{
    text-align: center;

}

.divButtonClass{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.delete-btn{
    background-color: rgb(0, 255, 251);

}

.edit-btn{
    background-color: rgb(215,76,76);
}